html,body {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	color: #444;
	background: url(../images/fundo.png);
}

#logo {
	margin-left: 10%;
	float: left;
}

#page {
	margin: 0 auto 0 auto;
	display: table;
	overflow: hidden;
	width: 85%;
	height: 100%;
	margin-top: 35%;
	position: relative;
}

#container {
	position: relative;
	float: right;
	margin-top: 3%;
	margin-right: 10%;
	width: 25%;
	background: #fff;
	border-radius: 3px;
	border: 1px solid #ccc;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
	-webkit-animation-name: bounceIn;
	-webkit-animation-fill-mode: both;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: bounceIn;
	-moz-animation-fill-mode: both;
	-moz-animation-duration: 1s;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: linear;
	animation-name: bounceIn;
	animation-fill-mode: both;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-timing-function: linear;
}

#lower {
	background: #ecf2f5;
	width: 100%;
	height: 40px;
	margin-top: 13px;
	box-shadow: inset 0 1px 1px #fff;
	border-top: 1px solid #ccc;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

form {
 margin: 0 auto;
 margin-top: 20px;
}
label {
 color: #555;
 display: inline-block;
 margin-left: 18px;
 padding-top: 10px;
 font-size: 14px;
}
p a {
	font-size: 14px;
	color: #aaa;
	float: left;
	margin-top: -6px;
	margin-left: 20px;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	transition: all .4s ease;
}

p a:hover {
	color: #555;
}

input {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 12px;
	outline: none;
}

input[type=email],
input[type=password]{
	color: #777;
	margin: 10px;
	margin-left: 18px;
	width: 200px;
	height: 15px;
	border: 1px solid #c7d0d2;
	border-radius: 2px;
	box-shadow: inset 0 0.7px 3px rgba(190, 190, 190, .4), 0 0 0 2px #f5f7f8;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	transition: all .4s ease;
}

input[type=email]:hover,input[type=password]:hover {
	border: 1px solid #b6bfc0;
	box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .7), 0 0 0 5px #f5f7f8;
}

input[type=email]:focus,input[type=password]:focus {
	border: 1px solid #a8c9e4;
	box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #e6f2f9;
}

input[type=submit] {
	float: right;
	margin-top: -12px;
	margin-right: 20px;
	width: 70px;
	height: 30px;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	background-color: #acd6ef; /*IE fallback*/
	background-image: -webkit-gradient(linear, left top, left bottom, from(#acd6ef),
		to(#6ec2e8));
	background-image: -moz-linear-gradient(top left 90deg, #acd6ef 0%, #6ec2e8 100%);
	background-image: linear-gradient(top left 90deg, #acd6ef 0%, #6ec2e8 100%);
	border-radius: 30px;
	border: 1px solid #66add6;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .3), inset 0 1px 0
		rgba(255, 255, 255, .5);
	cursor: pointer;
}

input[type=submit]:hover {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#b6e2ff),
		to(#6ec2e8));
	background-image: -moz-linear-gradient(top left 90deg, #b6e2ff 0%, #6ec2e8 100%);
	background-image: linear-gradient(top left 90deg, #b6e2ff 0%, #6ec2e8 100%);
}

input[type=submit]:active {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#6ec2e8),
		to(#b6e2ff));
	background-image: -moz-linear-gradient(top left 90deg, #6ec2e8 0%, #b6e2ff 100%);
	background-image: linear-gradient(top left 90deg, #6ec2e8 0%, #b6e2ff 100%);
}

footer {
	position: relative;
	float: right;
	width: 100%;
	margin-top: 10%;
	margin-right: 5%;
	text-align: right;
	font-size: 0.825em;
}

#menu {
	position: relative;
	margin-top: 5%;
	float: center;
	width: 100%;
}

#menu ul {
	padding: 0px;
	margin: 0px;
	background-color: #EDEDED;
	list-style: none;
}

#menu ul li {
	display: inline;
}

#menu ul li a {
	text-align:center;
	padding: 3px 5%;
	display: inline-block;
	/* visual do link */
	background-color: #EDEDED;
	color: #333;
	text-decoration: none;
	font-weight: bold;
	border-bottom: 3px solid #EDEDED;
}

#menu ul li a.selected {
	background-color: rgba(255, 255, 255, .2);
	color: #6D6D6D;
	border-bottom: 3px solid #828282;
}

#menu ul li a:hover {
	background-color: rgba(255, 255, 255, .2);
	color: #6D6D6D;
	border-bottom: 3px solid #828282;
}
