<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>MemWeb</display-name>
    <servlet-mapping>
        <servlet-name>ServletInit</servlet-name>
        <url-pattern>/ServletInit</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
        <welcome-file>Home.jsp</welcome-file>
    </welcome-file-list>
    <!-- <servlet>
		<servlet-name>ServletInit</servlet-name>
		<servlet-class>servlets.ServletInit</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletInit</servlet-name>
		<url-pattern>/ServletInit</url-pattern>
	</servlet-mapping>-->
    <servlet>
        <servlet-name>Inicial</servlet-name>
        <servlet-class>servlets.ServletInit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInit</servlet-name>
        <servlet-class>servlets.ServletInit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Inicial</servlet-name>
        <url-pattern>/Inicial</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlets.ServletLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegistrarPaciente</servlet-name>
        <servlet-class>servlets.ServletRegistrarPaciente</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrarPaciente</servlet-name>
        <url-pattern>/RegistrarPaciente</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditarPaciente</servlet-name>
        <servlet-class>servlets.ServletEditarPaciente</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditarPaciente</servlet-name>
        <url-pattern>/EditarPaciente</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegistrarFamiliar</servlet-name>
        <servlet-class>servlets.ServletRegistrarFamiliar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrarFamiliar</servlet-name>
        <url-pattern>/RegistrarFamiliar</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditarFamiliar</servlet-name>
        <servlet-class>servlets.ServletEditarFamiliar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditarFamiliar</servlet-name>
        <url-pattern>/EditarFamiliar</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegistrarEvento</servlet-name>
        <servlet-class>servlets.ServletRegistrarEvento</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrarEvento</servlet-name>
        <url-pattern>/RegistrarEvento</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditarEvento</servlet-name>
        <servlet-class>servlets.ServletEditarEvento</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditarEvento</servlet-name>
        <url-pattern>/EditarEvento</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>VerDados</servlet-name>
        <servlet-class>servlets.ServletVerDados</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VerDados</servlet-name>
        <url-pattern>/VerDados</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegistrarTecnico</servlet-name>
        <servlet-class>servlets.ServletRegistrarTecnico</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrarTecnico</servlet-name>
        <url-pattern>/RegistrarTecnico</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ConfirmarRegisto</servlet-name>
        <servlet-class>servlets.ServletConfirmarRegisto</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConfirmarRegisto</servlet-name>
        <url-pattern>/ConfirmarRegisto</url-pattern>
    </servlet-mapping>
</web-app>
