@CHARSET "ISO-8859-1";
.treeview {
	cursor:pointer;
	list-style-position: outside;
	list-style-image: url("../../../resources/static/img/collapsed.png");
	border: 2px solid #eae5e5;
	background: #F8F8F8;
     
}
label{
	word-spacing: 30px !important;
	cursor:pointer;
}

ul .buttons, .subButtons {
	cursor:pointer;
    background: #fcfcfc;
   	padding: 10px;
    padding-left:35px;
   	padding-top:7px;
   	padding-bottom: 7px;
   	margin-top:8px;
   	margin-left:8px;
   	margin-left:-50px;
   	margin-right:30px;
   	border: 2px solid white;
   	list-style:none;
    /*  border: 5px solid red; */   	
}
li .buttons, .subButtons{
	 background: transparent !important;
	 border: none;
}
    
ul .list {
	cursor:pointer;
    margin:10px;
}
ul.treeview:hover, li .list:hover {
    background-color: #DADFE1;
}

.row{
	background-color: #fcfcfc;
	cursor:pointer;
   	padding: 10px;
   	padding-left:35px;
   	padding-top:7px;
   	padding-bottom: 7px;
   	margin-top:-25px;
   	margin-right:30px;
   	margin-left:8px;
   	margin-left:-50px;
   	border: 2px solid white;
}
li .row{
	list-style-image: url('../../../resources/static/img/expanded.png');
	list-style-position: inside;
}

.treeviewActive {
	cursor:pointer;
	list-style-image: url('../../../resources/static/img/expanded.png');
	border: 2px solid #eae5e5;
    background-color: #DADFE1;
}

li .buttons:hover, .row:hover, .subButtons :hover {
    background-color: #ECECEC;
}

.rowActive{
	background-color: #ECECEC;
	cursor:pointer;
   	padding: 10px;
   	padding-left:35px;
   	padding-top:7px;
   	padding-bottom: 7px;
   	margin-top:-25px;
   	margin-right:30px;
   	margin-left:8px;
   	margin-left:-50px;
   	border: 2px solid white;
}
li .rowActive{
	list-style-image: url('../../../resources/static/img/expanded.png');
	list-style-position: inside;
}